---
export interface Props {
	title: string;
}

const { title } = Astro.props;

const { generator, site } = Astro;
const description = "Photo Layout";
const image = new URL("social.jpg", site);
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Series — Layout for Photo and Video</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={site} />
    <meta property="og:image" content={image} />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6396132/6732212/css/fonts.css" />
  </head>
  <body class="
    bg-back text-default 
    text-base selection:bg-secondary selection:text-white 
    container mx-auto md:max-w-[1024px]
    px-8 pt-8 
  ">
    <slot />
  </body>
</html>
